@use "@/styles/variable/mixin" as m;

.menuBar {
  --menubar-height: 4rem;
  --menubar-color: oklch(var(--magenta-050));
  width: 100%;
  height: var(--menubar-height);
  display: flex;
  align-items: center;
  padding: 1rem;
  position: fixed;
  background-color: var(--menubar-color);
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: var(--menubar-height);
  }
  &::before {
    left: 0;
    @include m.reverse-radius(
      $position: "bottom-right",
      $size: var(--radius-0),
      $color: var(--menubar-color)
    ); // position:
  }
  &::after {
    right: 0;
    @include m.reverse-radius(
      $position: "bottom-left",
      $size: var(--radius-0),
      $color: var(--menubar-color)
    );
  }
}

.logo {
  z-index: 2;
  width: 2.4rem;
  height: 2.4rem;
  color: var(--menubar-color);
}
