.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: oklch(var(--gray-950) / 0.05);
  padding: 0.8rem;
  border-radius: 1.6rem;
  gap: 1.2rem;
}

.time {
  display: flex;
  width: 100%;
  gap: 0.8rem;
}

.flippers {
  flex-grow: 1;
  display: flex;
  gap: 0.2rem;
}

.flipper {
  position: relative;
  flex-grow: 1;
  min-width: 0;
  aspect-ratio: 1 / 1.168;
  perspective: 300px; /* 3D 효과를 위한 원근감 설정 */
  background: linear-gradient(
    oklch(var(--gray-950) / 0.8),
    oklch(var(--gray-800) / 0.8) 50%,
    oklch(var(--gray-950) / 0.8) 50%,
    oklch(var(--gray-800) / 0.8)
  );
  border-radius: 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.digit {
  position: absolute;
  font-size: 7rem;
  font-weight: 700;
  background: linear-gradient(
    oklch(var(--gray-500) / 0.5),
    oklch(var(--gray-000) / 1) 50%,
    oklch(var(--gray-500) / 0.5) 50%,
    oklch(var(--gray-000) / 1)
  );
  background-clip: text;
  color: transparent;
  text-shadow: 0.2rem 0.2rem 0.4rem oklch(var(--gray-100) / 0.3),
    0.3rem 0.3rem 1rem oklch(var(--gray-100) / 0.1);

  // 3D 변환 시 뒷면이 보이지 않도록 설정
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* 시간/분 구분자 스타일 */
.separator {
  font-size: 7rem;
  font-weight: 700;
  color: transparent;
  background: oklch(var(--gray-000));
  background-clip: text;
  animation: blink 1s infinite linear;
}

/* 구분자 깜빡임 애니메이션 */
@keyframes blink {
  50% {
    opacity: 0.1;
  }
}
