:root {
  --brand: hsl(218 91% 45%);
  --brand-000: 5% 0.2165 261.732;
  --brand-050: 10% 0.2165 261.732;
  --brand-100: 20% 0.2165 261.732;
  --brand-200: 30% 0.2165 261.732;
  --brand-300: 40% 0.2165 261.732;
  --brand-400: 50% 0.2165 261.732;
  --brand-500: 60% 0.2165 261.732;
  --brand-600: 70% 0.2165 261.732;
  --brand-700: 80% 0.2165 261.732;
  --brand-800: 90% 0.2165 261.732;
  --brand-900: 95% 0.2165 261.732;
  --brand-950: 99% 0.2165 261.732;

  --red: hsl(347 100% 47%);
  --red-000: 5% 0.24316 22.618;
  --red-050: 10% 0.24316 22.618;
  --red-100: 20% 0.24316 22.618;
  --red-200: 30% 0.24316 22.618;
  --red-300: 40% 0.24316 22.618;
  --red-400: 50% 0.24316 22.618;
  --red-500: 60% 0.24316 22.618;
  --red-600: 70% 0.24316 22.618;
  --red-700: 80% 0.24316 22.618;
  --red-800: 90% 0.24316 22.618;
  --red-900: 95% 0.24316 22.618;
  --red-950: 99% 0.24316 22.618;
  --red-tint: 73% 0.15148 28.034;

  --magenta: hsl(335 100% 46%);
  --magenta-000: 5% 0.2165 10;
  --magenta-050: 10% 0.2165 10;
  --magenta-100: 20% 0.2165 10;
  --magenta-200: 30% 0.2165 10;
  --magenta-300: 40% 0.2165 10;
  --magenta-400: 50% 0.2165 10;
  --magenta-500: 60% 0.2165 10;
  --magenta-600: 70% 0.2165 10;
  --magenta-700: 80% 0.2165 10;
  --magenta-800: 90% 0.2165 10;
  --magenta-900: 95% 0.2165 10;
  --magenta-950: 99% 0.2165 10;
  --magenta-tint: 60% 0.2865 15;

  --tangerine: hsl(12 100% 45%);
  --tangerine-000: 5% 0.2272 35.958;
  --tangerine-050: 10% 0.2272 35.958;
  --tangerine-100: 20% 0.2272 35.958;
  --tangerine-200: 30% 0.2272 35.958;
  --tangerine-300: 40% 0.2272 35.958;
  --tangerine-400: 50% 0.2272 35.958;
  --tangerine-500: 60% 0.2272 35.958;
  --tangerine-600: 70% 0.2272 35.958;
  --tangerine-700: 80% 0.2272 35.958;
  --tangerine-800: 90% 0.2272 35.958;
  --tangerine-900: 95% 0.2272 35.958;
  --tangerine-950: 99% 0.2272 35.958;
  --tangerine-tint: 50% 0.3772 37;

  --amber: hsl(33 100% 57%);
  --amber-000: 5% 0.17676 60.629;
  --amber-050: 10% 0.17676 60.629;
  --amber-100: 20% 0.17676 60.629;
  --amber-200: 30% 0.17676 60.629;
  --amber-300: 40% 0.17676 60.629;
  --amber-400: 50% 0.17676 60.629;
  --amber-500: 60% 0.17676 60.629;
  --amber-600: 70% 0.17676 60.629;
  --amber-700: 80% 0.17676 60.629;
  --amber-800: 90% 0.17676 60.629;
  --amber-900: 95% 0.17676 60.629;
  --amber-950: 99% 0.17676 60.629;
  --amber-tint: 80% 0.37676 80;

  --yellow: hsl(51 100% 53%);
  --yellow-000: 5% 0.18324 96.195;
  --yellow-050: 10% 0.18324 96.195;
  --yellow-100: 20% 0.18324 96.195;
  --yellow-200: 30% 0.18324 96.195;
  --yellow-300: 40% 0.18324 96.195;
  --yellow-400: 50% 0.18324 96.195;
  --yellow-500: 60% 0.18324 96.195;
  --yellow-600: 70% 0.18324 96.195;
  --yellow-700: 80% 0.18324 96.195;
  --yellow-800: 90% 0.18324 96.195;
  --yellow-900: 95% 0.13324 96.195;
  --yellow-950: 99% 0.08324 96.195;
  --yellow-tint: 90% 0.33324 96.195;

  --lime: hsl(73 100% 52%);
  --lime-000: 5% 0.32927 124.045;
  --lime-050: 10% 0.32927 124.045;
  --lime-100: 20% 0.32927 124.045;
  --lime-200: 30% 0.32927 124.045;
  --lime-300: 40% 0.32927 124.045;
  --lime-400: 50% 0.32927 124.045;
  --lime-500: 60% 0.32927 124.045;
  --lime-600: 70% 0.32927 124.045;
  --lime-700: 80% 0.32927 124.045;
  --lime-800: 90% 0.32927 124.045;
  --lime-900: 95% 0.15927 124.045;
  --lime-950: 99% 0.08927 124.045;
  --lime-tint: 90% 0.4 117;

  --green: hsl(146 100% 32%);
  --green-000: 5% 0.20452 156.195;
  --green-050: 10% 0.20452 156.195;
  --green-100: 20% 0.20452 156.195;
  --green-200: 30% 0.20452 156.195;
  --green-300: 40% 0.20452 156.195;
  --green-400: 50% 0.20452 156.195;
  --green-500: 60% 0.20452 156.195;
  --green-600: 70% 0.20452 156.195;
  --green-700: 80% 0.20452 156.195;
  --green-800: 90% 0.20452 156.195;
  --green-900: 95% 0.17594 156.195;
  --green-950: 99% 0.10594 156.195;
  --green-tint: 71.353% 0.15294 156.195;

  --mint: hsl(172 100% 50%);
  --mint-000: 5% 0.1643 178.356;
  --mint-050: 10% 0.1643 178.356;
  --mint-100: 20% 0.1643 178.356;
  --mint-200: 30% 0.1643 178.356;
  --mint-300: 40% 0.1643 178.356;
  --mint-400: 50% 0.1643 178.356;
  --mint-500: 60% 0.1643 178.356;
  --mint-600: 70% 0.1643 178.356;
  --mint-700: 80% 0.1643 178.356;
  --mint-800: 90% 0.1643 178.356;
  --mint-900: 95% 0.0843 178.356;
  --mint-950: 99% 0.0443 178.356;
  --mint-tint: 89% 0.2 170;

  --skyblue: hsl(197 100% 60%);
  --skyblue-000: 5% 0.14339 230.346;
  --skyblue-050: 10% 0.14339 230.346;
  --skyblue-100: 20% 0.14339 230.346;
  --skyblue-200: 30% 0.14339 230.346;
  --skyblue-300: 40% 0.14339 230.346;
  --skyblue-400: 50% 0.14339 230.346;
  --skyblue-500: 60% 0.14339 230.346;
  --skyblue-600: 70% 0.14339 230.346;
  --skyblue-700: 80% 0.14339 230.346;
  --skyblue-800: 90% 0.14339 230.346;
  --skyblue-900: 95% 0.10339 230.346;
  --skyblue-950: 99% 0.06339 230.346;
  --skyblue-tint: 77.381% 0.30339 265;

  --blue: hsl(226 94% 52%);
  --blue-000: 5% 0.26582 264.47;
  --blue-050: 10% 0.26582 264.47;
  --blue-100: 20% 0.26582 264.47;
  --blue-200: 30% 0.26582 264.47;
  --blue-300: 40% 0.26582 264.47;
  --blue-400: 50% 0.26582 264.47;
  --blue-500: 60% 0.26582 264.47;
  --blue-600: 70% 0.26582 264.47;
  --blue-700: 80% 0.26582 264.47;
  --blue-800: 90% 0.26582 264.47;
  --blue-900: 95% 0.16582 264.47;
  --blue-950: 99% 0.06582 264.47;
  --blue-tint: 90% 0.20582 244.47;

  --lilac: hsl(276 100% 42%);
  --lilac-000: 5% 0.2574 302.168;
  --lilac-050: 10% 0.2574 302.168;
  --lilac-100: 20% 0.2574 302.168;
  --lilac-200: 30% 0.2574 302.168;
  --lilac-300: 40% 0.2574 302.168;
  --lilac-400: 50% 0.2574 302.168;
  --lilac-500: 60% 0.2574 302.168;
  --lilac-600: 70% 0.2574 302.168;
  --lilac-700: 80% 0.2574 302.168;
  --lilac-800: 90% 0.2574 302.168;
  --lilac-900: 95% 0.1574 302.168;
  --lilac-950: 99% 0.0574 302.168;
  --lilac-tint: 70% 0.3574 302.168;

  --purple: hsl(300 100% 25%);
  --purple-000: 5% 0.19352 328.352;
  --purple-050: 10% 0.19352 328.352;
  --purple-100: 20% 0.19352 328.352;
  --purple-200: 30% 0.19352 328.352;
  --purple-300: 40% 0.19352 328.352;
  --purple-400: 50% 0.19352 328.352;
  --purple-500: 60% 0.19352 328.352;
  --purple-600: 70% 0.19352 328.352;
  --purple-700: 80% 0.19352 328.352;
  --purple-800: 90% 0.19352 328.352;
  --purple-900: 95% 0.14352 328.352;
  --purple-950: 99% 0.09352 328.352;
  --purple-tint: 50% 0.30352 338.352;

  --pink: hsl(318 100% 50%);
  --pink-000: 5% 0.27977 347.113;
  --pink-050: 10% 0.27977 347.113;
  --pink-100: 20% 0.27977 347.113;
  --pink-200: 30% 0.27977 347.113;
  --pink-300: 40% 0.27977 347.113;
  --pink-400: 50% 0.27977 347.113;
  --pink-500: 60% 0.27977 347.113;
  --pink-600: 70% 0.27977 347.113;
  --pink-700: 80% 0.27977 347.113;
  --pink-800: 90% 0.27977 347.113;
  --pink-900: 95% 0.17977 347.113;
  --pink-950: 99% 0.13977 347.113;
  --pink-tint: 66.329% 0.39999 357.113;

  --gray-mixer: 0.025;

  --gray: hsl(218, 10%, 52%);
  --gray-000: 5% 0.025 261.732;
  --gray-050: 10% 0.025 261.732;
  --gray-100: 20% 0.025 261.732;
  --gray-200: 30% 0.025 261.732;
  --gray-300: 40% 0.025 261.732;
  --gray-400: 50% 0.025 261.732;
  --gray-500: 60% 0.025 261.732;
  --gray-600: 70% 0.025 261.732;
  --gray-700: 80% 0.025 261.732;
  --gray-800: 90% 0.025 261.732;
  --gray-900: 95% 0.025 261.732;
  --gray-950: 99% 0.025 261.732;

  --ssuk: hsl(163, 10%, 60%);
  --ssuk-000: 5% 0.025 178.356;
  --ssuk-050: 10% 0.025 178.356;
  --ssuk-100: 20% 0.025 178.356;
  --ssuk-200: 30% 0.025 178.356;
  --ssuk-300: 40% 0.025 178.356;
  --ssuk-400: 50% 0.025 178.356;
  --ssuk-500: 60% 0.025 178.356;
  --ssuk-600: 70% 0.025 178.356;
  --ssuk-700: 80% 0.025 178.356;
  --ssuk-800: 90% 0.025 178.356;
  --ssuk-900: 95% 0.025 178.356;
  --ssuk-950: 99% 0.025 178.356;

  --text: oklch(var(--gray-000));
}

#app[data-theme="dark"] {
  --text-900: 210 20% 95%;
  --text-800: 210 20% 90%;
  --text-700: 210 20% 70%;
  --text-600: 210 20% 60%;
  --text-500: 210 20% 50%;
  --text-400: 210 20% 40%;
  --text-300: 210 20% 30%;
  --text-200: 210 20% 20%;
  --text-100: 210 29% 10%;

  --bg-900: 229 2% 94%;
  --bg-800: 233 4% 83%;
  --bg-700: 235 6% 66%;
  --bg-600: 235 8% 45%;
  --bg-500: 236 12% 32%;
  --bg-400: 236 16% 24%;
  --bg-300: 235 20% 16%;
  --bg-200: 233 24% 8%;
  --bg-100: 234 28% 4%;
}
